<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('shared/BspCssJqueryLinks'); %>
</head>

<body>
  <!-- NAVBAR  -->
  <%- include('navbar',{isLoggedIn}); %>


  <!-- Upload file Section  -->
  <div class="container">
    <% if(isLoggedIn){ %>
    <div class="row" id="afterlogin">
      <div class="col-sm-8">
        <section>
          <div class="d-flex  align-items-center  border-bottom ">
              <h2 class="pb-2 me-5">Hello <%= isLoggedIn %> broo</h2>
              <a href="http://localhost:8000/upload"><button type="button" class="btn btn-outline-secondary"  id="loginbtn">Upload</button></a> 
              <a href="#"><button type="button" class="btn btn-outline-secondary mx-2"  id="filesReceivedbtn">Files Received</button></a> 
              <a href="#"><button type="button" class="btn btn-outline-secondary"  id="filesSentbtn">Files Sent</button></a> 
          </div>
        </section>
      </div>
    </div>

    <div class="row" >
        <div class="col-sm-8">
            <section id="displaysection" >
                    <% arr.forEach(function(item){ %>
                    <h5> <%= item.filename %> </h5> 
                    <button type="button" data-bs-toggle="modal" data-bs-target="#sendModal"  id="itemid- <%= item.docid %>" class="sendBtn btn btn-outline-warning" >send</button> 
                    <button type="button" id="itemid- <%= item.docid %>" class="deleteBtn btn btn-outline-danger">Delete</button> 
                    <% }) %>
            </section>
        </div>
    </div>

    <% } else{ %>
    <div class="row" id="beforelogin">
      <div class="col-sm-8">
        <section>
          <h2 class="border-bottom pb-2">Please Login</h2>
        </section>
      </div>
    </div>
    <% } %>
  </div>

 <div class="modal fade" id="sendModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Choose an ExistingUser to Send a file </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer d-flex justify-content-center align-items-center">
                    <div class="text-success text-center" id="editSuccessMessage">

                    </div>
                    <div class="text-danger text-center pe-4" id="editErrorMessage">

                    </div>
                </div>
            </div>
        </div>
    </div>
  



  <%- include('shared/BspJsAxiosLinks'); %> 
  <!-- home.ejs js-file  -->
  <script src="/home.js"></script>
</body>

</html>